{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://directconnect.amazonaws.com/"
        },
        {
            "url": "http://directconnect.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS Direct Connect links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. With this connection in place, you can create virtual interfaces directly to the AWS cloud (for example, to Amazon EC2 and Amazon S3) and to Amazon VPC, bypassing Internet service providers in your network path. A connection provides access to all AWS Regions except the China (Beijing) and (China) Ningxia Regions. AWS resources in the China Regions can only be accessed through locations associated with those Regions.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Direct Connect",
        "version": "2012-10-25",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/directconnect-2012-10-25.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "directconnect"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/directconnect/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deprecated. Use <a>AllocateHostedConnection</a> instead.</p> <p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>",
                "operationId": "AllocateConnectionOnInterconnect",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Information about an AWS Direct Connect connection.",
                                    "properties": {
                                        "awsDevice": {
                                            "description": "The Direct Connect endpoint on which the physical connection terminates.",
                                            "type": "string"
                                        },
                                        "awsDeviceV2": {
                                            "description": "The Direct Connect endpoint on which the physical connection terminates.",
                                            "type": "string"
                                        },
                                        "bandwidth": {
                                            "description": "The bandwidth of the connection.",
                                            "type": "string"
                                        },
                                        "connectionId": {
                                            "description": "The ID of the connection.",
                                            "type": "string"
                                        },
                                        "connectionName": {
                                            "description": "The name of the connection.",
                                            "type": "string"
                                        },
                                        "connectionState": {
                                            "description": "<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>",
                                            "enum": [
                                                "ordering",
                                                "requested",
                                                "pending",
                                                "available",
                                                "down",
                                                "deleting",
                                                "deleted",
                                                "rejected",
                                                "unknown"
                                            ],
                                            "type": "string"
                                        },
                                        "hasLogicalRedundancy": {
                                            "description": "Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).",
                                            "enum": [
                                                "unknown",
                                                "yes",
                                                "no"
                                            ],
                                            "type": "string"
                                        },
                                        "jumboFrameCapable": {
                                            "description": "Indicates whether jumbo frames (9001 MTU) are supported.",
                                            "type": "boolean"
                                        },
                                        "lagId": {
                                            "description": "The ID of the LAG.",
                                            "type": "string"
                                        },
                                        "loaIssueTime": {
                                            "description": "The time of the most recent call to <a>DescribeLoa</a> for this connection.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "The location of the connection.",
                                            "type": "string"
                                        },
                                        "ownerAccount": {
                                            "description": "The ID of the AWS account that owns the connection.",
                                            "type": "string"
                                        },
                                        "partnerName": {
                                            "description": "The name of the AWS Direct Connect service provider associated with the connection.",
                                            "type": "string"
                                        },
                                        "region": {
                                            "description": "The AWS Region where the connection is located.",
                                            "type": "string"
                                        },
                                        "vlan": {
                                            "description": "The ID of the VLAN.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectConnectServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DirectConnectClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "bandwidth": {
                                        "description": "The bandwidth of the connection, in Mbps. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, and 500Mbps.",
                                        "type": "string"
                                    },
                                    "connectionName": {
                                        "description": "The name of the provisioned connection.",
                                        "type": "string"
                                    },
                                    "interconnectId": {
                                        "description": "The ID of the interconnect on which the connection will be provisioned.",
                                        "type": "string"
                                    },
                                    "ownerAccount": {
                                        "description": "The ID of the AWS account of the customer for whom the connection will be provisioned.",
                                        "type": "string"
                                    },
                                    "vlan": {
                                        "description": "The dedicated VLAN provisioned to the connection.",
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "bandwidth",
                                    "connectionName",
                                    "ownerAccount",
                                    "interconnectId",
                                    "vlan"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AllocateHostedConnection": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a hosted connection on the specified interconnect or a link aggregation group (LAG).</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect or LAG.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>",
                "operationId": "AllocateHostedConnection",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Information about an AWS Direct Connect connection.",
                                    "properties": {
                                        "awsDevice": {
                                            "description": "The Direct Connect endpoint on which the physical connection terminates.",
                                            "type": "string"
                                        },
                                        "awsDeviceV2": {
                                            "description": "The Direct Connect endpoint on which the physical connection terminates.",
                                            "type": "string"
                                        },
                                        "bandwidth": {
                                            "description": "The bandwidth of the connection.",
                                            "type": "string"
                                        },
                                        "connectionId": {
                                            "description": "The ID of the connection.",
                                            "type": "string"
                                        },
                                        "connectionName": {
                                            "description": "The name of the connection.",
                                            "type": "string"
                                        },
                                        "connectionState": {
                                            "description": "<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>",
                                            "enum": [
                                                "ordering",
                                                "requested",
                                                "pending",
                                                "available",
                                                "down",
                                                "deleting",
                                                "deleted",
                                                "rejected",
                                                "unknown"
                                            ],
                                            "type": "string"
                                        },
                                        "hasLogicalRedundancy": {
                                            "description": "Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).",
                                            "enum": [
                                                "unknown",
                                                "yes",
                                                "no"
                                            ],
                                            "type": "string"
                                        },
                                        "jumboFrameCapable": {
                                            "description": "Indicates whether jumbo frames (9001 MTU) are supported.",
                                            "type": "boolean"
                                        },
                                        "lagId": {
                                            "description": "The ID of the LAG.",
                                            "type": "string"
                                        },
                                        "loaIssueTime": {
                                            "description": "The time of the most recent call to <a>DescribeLoa</a> for this connection.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "The location of the connection.",
                                            "type": "string"
                                        },
                                        "ownerAccount": {
                                            "description": "The ID of the AWS account that owns the connection.",
                                            "type": "string"
                                        },
                                        "partnerName": {
                                            "description": "The name of the AWS Direct Connect service provider associated with the connection.",
                                            "type": "string"
                                        },
                                        "region": {
                                            "description": "The AWS Region where the connection is located.",
                                            "type": "string"
                                        },
                                        "vlan": {
                                            "description": "The ID of the VLAN.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectConnectServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DirectConnectClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "bandwidth": {
                                        "description": "The bandwidth of the hosted connection, in Mbps. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, and 500Mbps.",
                                        "type": "string"
                                    },
                                    "connectionId": {
                                        "description": "The ID of the interconnect or LAG.",
                                        "type": "string"
                                    },
                                    "connectionName": {
                                        "description": "The name of the hosted connection.",
                                        "type": "string"
                                    },
                                    "ownerAccount": {
                                        "description": "The ID of the AWS account ID of the customer for the connection.",
                                        "type": "string"
                                    },
                                    "vlan": {
                                        "description": "The dedicated VLAN provisioned to the hosted connection.",
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "connectionId",
                                    "ownerAccount",
                                    "bandwidth",
                                    "connectionName",
                                    "vlan"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AllocatePrivateVirtualInterface": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Provisions a private virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this action must be confirmed by the owner using <a>ConfirmPrivateVirtualInterface</a>. Until then, the virtual interface is in the <code>Confirming</code> state and is not available to handle traffic.</p>",
                "operationId": "AllocatePrivateVirtualInterface",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Information about a virtual interface.",
                                    "properties": {
                                        "addressFamily": {
                                            "description": "The address family for the BGP peer.",
                                            "enum": [
                                                "ipv4",
                                                "ipv6"
                                            ],
                                            "type": "string"
                                        },
                                        "amazonAddress": {
                                            "description": "The IP address assigned to the Amazon interface.",
                                            "type": "string"
                                        },
                                        "amazonSideAsn": {
                                            "description": "The autonomous system number (ASN) for the Amazon side of the connection.",
                                            "type": "integer"
                                        },
                                        "asn": {
                                            "description": "The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.",
                                            "type": "integer"
                                        },
                                        "authKey": {
                                            "description": "The authentication key for BGP configuration.",
                                            "type": "string"
                                        },
                                        "awsDeviceV2": {
                                            "description": "The Direct Connect endpoint on which the virtual interface terminates.",
                                            "type": "string"
                                        },
                                        "bgpPeers": {
                                            "description": "The BGP peers configured on this virtual interface.",
                                            "items": {
                                                "description": "Information about a BGP peer.",
                                                "properties": {
                                                    "addressFamily": {
                                                        "description": "The address family for the BGP peer.",
                                                        "enum": [
                                                            "ipv4",
                                                            "ipv6"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "amazonAddress": {
                                                        "description": "The IP address assigned to the Amazon interface.",
                                                        "type": "string"
                                                    },
                                                    "asn": {
                                                        "description": "The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.",
                                                        "type": "integer"
                                                    },
                                                    "authKey": {
                                                        "description": "The authentication key for BGP configuration.",
                                                        "type": "string"
                                                    },
                                                    "awsDeviceV2": {
                                                        "description": "The Direct Connect endpoint on which the BGP peer terminates.",
                                                        "type": "string"
                                                    },
                                                    "bgpPeerId": {
                                                        "description": "The ID of the BGP peer.",
                                                        "type": "string"
                                                    },
                                                    "bgpPeerState": {
                                                        "description": "<p>The state of the BGP peer. The following are the possible values:</p> <ul> <li> <p> <code>verifying</code>: The BGP peering addresses or ASN require validation before the BGP peer can be created. This state applies only to public virtual interfaces.</p> </li> <li> <p> <code>pending</code>: The BGP peer is created, and remains in this state until it is ready to be established.</p> </li> <li> <p> <code>available</code>: The BGP peer is ready to be established.</p> </li> <li> <p> <code>deleting</code>: The BGP peer is being deleted.</p> </li> <li> <p> <code>deleted</code>: The BGP peer is deleted and cannot be established.</p> </li> </ul>",
                                                        "enum": [
                                                            "verifying",
                                                            "pending",
                                                            "available",
                                                            "deleting",
                                                            "deleted"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "bgpStatus": {
                                                        "description": "<p>The status of the BGP peer. The following are the possible values:</p> <ul> <li> <p> <code>up</code>: The BGP peer is established. This state does not indicate the state of the routing function. Ensure that you are receiving routes over the BGP session.</p> </li> <li> <p> <code>down</code>: The BGP peer is down.</p> </li> <li> <p> <code>unknown</code>: The BGP peer status is not available.</p> </li> </ul>",
                                                        "enum": [
                                                            "up",
                                                            "down",
                                                            "unknown"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "customerAddress": {
                                                        "description": "The IP address assigned to the customer interface.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "connectionId": {
                                            "description": "The ID of the connection.",
                                            "type": "string"
                                        },
                                        "customerAddress": {
                                            "description": "The IP address assigned to the customer interface.",
                                            "type": "string"
                                        },
                                        "customerRouterConfig": {
                                            "description": "The customer router configuration.",
                                            "type": "string"
                                        },
                                        "directConnectGatewayId": {
                                            "description": "The ID of the Direct Connect gateway.",
                                            "type": "string"
                                        },
                                        "jumboFrameCapable": {
                                            "description": "Indicates whether jumbo frames (9001 MTU) are supported.",
                                            "type": "boolean"
                                        },
                                        "location": {
                                            "description": "The location of the connection.",
                                            "type": "string"
                                        },
                                        "mtu": {
                                            "description": "The maximum transmission unit (MTU), in bytes. The supported values are 1500 and 9001. The default value is 1500.",
                                            "type": "integer"
                                        },
                                        "ownerAccount": {
                                            "description": "The ID of the AWS account that owns the virtual interface.",
                                            "type": "string"
                                        },
                                        "region": {
                                            "description": "The AWS Region where the virtual interface is located.",
                                            "type": "string"
                                        },
                                        "routeFilterPrefixes": {
                                            "description": "The routes to be advertised to the AWS network in this Region. Applies to public virtual interfaces.",
                                            "items": {
                                                "description": "Information about a route filter prefix that a customer can advertise through Border Gateway Protocol (BGP) over a public virtual interface.",
                                                "properties": {
                                                    "cidr": {
                                                        "description": "The CIDR block for the advertised route. Separate multiple routes using commas. An IPv6 CIDR must use /64 or shorter.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "virtualGatewayId": {
                                            "description": "The ID of the virtual private gateway. Applies only to private virtual interfaces.",
                                            "type": "string"
                                        },
                                        "virtualInterfaceId": {
                                            "description": "The ID of the virtual interface.",
                                            "type": "string"
                                        },
                                        "virtualInterfaceName": {
                                            "description": "The name of the virtual interface assigned by the customer network.",
                                            "type": "string"
                                        },
                                        "virtualInterfaceState": {
                                            "description": "<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>",
                                            "enum": [
                                                "confirming",
                                                "verifying",
                                                "pending",
                                                "available",
                                                "down",
                                                "deleting",
                                                "deleted",
                                                "rejected",
                                                "unknown"
                                            ],
                                            "type": "string"
                                        },
                                        "virtualInterfaceType": {
                                            "description": "The type of virtual interface. The possible values are <code>private</code> and <code>public</code>.",
                                            "type": "string"
                                        },
                                        "vlan": {
                                            "description": "The ID of the VLAN.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectConnectServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DirectConnectClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "connectionId": {
                                        "description": "The ID of the connection on which the private virtual interface is provisioned.",
                                        "type": "string"
                                    },
                                    "newPrivateVirtualInterfaceAllocation": {
                                        "description": "Information about the private virtual interface.",
                                        "properties": {
                                            "addressFamily": {
                                                "description": "The address family for the BGP peer.",
                                                "enum": [
                                                    "ipv4",
                                                    "ipv6"
                                                ],
                                                "type": "string"
                                            },
                                            "amazonAddress": {
                                                "description": "The IP address assigned to the Amazon interface.",
                                                "type": "string"
                                            },
                                            "asn": {
                                                "description": "The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.",
                                                "type": "integer"
                                            },
                                            "authKey": {
                                                "description": "The authentication key for BGP configuration.",
                                                "type": "string"
                                            },
                                            "customerAddress": {
                                                "description": "The IP address assigned to the customer interface.",
                                                "type": "string"
                                            },
                                            "mtu": {
                                                "description": "The maximum transmission unit (MTU), in bytes. The supported values are 1500 and 9001. The default value is 1500.",
                                                "type": "integer"
                                            },
                                            "virtualInterfaceName": {
                                                "description": "The name of the virtual interface assigned by the customer network.",
                                                "type": "string"
                                            },
                                            "vlan": {
                                                "description": "The ID of the VLAN.",
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "virtualInterfaceName",
                                            "vlan",
                                            "asn"
                                        ],
                                        "type": "object"
                                    },
                                    "ownerAccount": {
                                        "description": "The ID of the AWS account that owns the virtual private interface.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "connectionId",
                                    "ownerAccount",
                                    "newPrivateVirtualInterfaceAllocation"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AllocatePublicVirtualInterface": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Provisions a public virtual interface to be owned by the specified AWS account.</p> <p>The owner of a connection calls this function to provision a public virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this function must be confirmed by the owner using <a>ConfirmPublicVirtualInterface</a>. Until this step has been completed, the virtual interface is in the <code>confirming</code> state and is not available to handle traffic.</p> <p>When creating an IPv6 public virtual interface, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>",
                "operationId": "AllocatePublicVirtualInterface",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Information about a virtual interface.",
                                    "properties": {
                                        "addressFamily": {
                                            "description": "The address family for the BGP peer.",
                                            "enum": [
                                                "ipv4",
                                                "ipv6"
                                            ],
                                            "type": "string"
                                        },
                                        "amazonAddress": {
                                            "description": "The IP address assigned to the Amazon interface.",
                                            "type": "string"
                                        },
                                        "amazonSideAsn": {
                                            "description": "The autonomous system number (ASN) for the Amazon side of the connection.",
                                            "type": "integer"
                                        },
                                        "asn": {
                                            "description": "The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.",
                                            "type": "integer"
                                        },
                                        "authKey": {
                                            "description": "The authentication key for BGP configuration.",
                                            "type": "string"
                                        },
                                        "awsDeviceV2": {
                                            "description": "The Direct Connect endpoint on which the virtual interface terminates.",
                                            "type": "string"
                                        },
                                        "bgpPeers": {
                                            "description": "The BGP peers configured on this virtual interface.",
                                            "items": {
                                                "description": "Information about a BGP peer.",
                                                "properties": {
                                                    "addressFamily": {
                                                        "description": "The address family for the BGP peer.",
                                                        "enum": [
                                                            "ipv4",
                                                            "ipv6"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "amazonAddress": {
                                                        "description": "The IP address assigned to the Amazon interface.",
                                                        "type": "string"
                                                    },
                                                    "asn": {
                                                        "description": "The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.",
                                                        "type": "integer"
                                                    },
                                                    "authKey": {
                                                        "description": "The authentication key for BGP configuration.",
                                                        "type": "string"
                                                    },
                                                    "awsDeviceV2": {
                                                        "description": "The Direct Connect endpoint on which the BGP peer terminates.",
                                                        "type": "string"
                                                    },
                                                    "bgpPeerId": {
                                                        "description": "The ID of the BGP peer.",
                                                        "type": "string"
                                                    },
                                                    "bgpPeerState": {
                                                        "description": "<p>The state of the BGP peer. The following are the possible values:</p> <ul> <li> <p> <code>verifying</code>: The BGP peering addresses or ASN require validation before the BGP peer can be created. This state applies only to public virtual interfaces.</p> </li> <li> <p> <code>pending</code>: The BGP peer is created, and remains in this state until it is ready to be established.</p> </li> <li> <p> <code>available</code>: The BGP peer is ready to be established.</p> </li> <li> <p> <code>deleting</code>: The BGP peer is being deleted.</p> </li> <li> <p> <code>deleted</code>: The BGP peer is deleted and cannot be established.</p> </li> </ul>",
                                                        "enum": [
                                                            "verifying",
                                                            "pending",
                                                            "available",
                                                            "deleting",
                                                            "deleted"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "bgpStatus": {
                                                        "description": "<p>The status of the BGP peer. The following are the possible values:</p> <ul> <li> <p> <code>up</code>: The BGP peer is established. This state does not indicate the state of the routing function. Ensure that you are receiving routes over the BGP session.</p> </li> <li> <p> <code>down</code>: The BGP peer is down.</p> </li> <li> <p> <code>unknown</code>: The BGP peer status is not available.</p> </li> </ul>",
                                                        "enum": [
                                                            "up",
                                                            "down",
                                                            "unknown"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "customerAddress": {
                                                        "description": "The IP address assigned to the customer interface.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "connectionId": {
                                            "description": "The ID of the connection.",
                                            "type": "string"
                                        },
                                        "customerAddress": {
                                            "description": "The IP address assigned to the customer interface.",
                                            "type": "string"
                                        },
                                        "customerRouterConfig": {
                                            "description": "The customer router configuration.",
                                            "type": "string"
                                        },
                                        "directConnectGatewayId": {
                                            "description": "The ID of the Direct Connect gateway.",
                                            "type": "string"
                                        },
                                        "jumboFrameCapable": {
                                            "description": "Indicates whether jumbo frames (9001 MTU) are supported.",
                                            "type": "boolean"
                                        },
                                        "location": {
                                            "description": "The location of the connection.",
                                            "type": "string"
                                        },
                                        "mtu": {
                                            "description": "The maximum transmission unit (MTU), in bytes. The supported values are 1500 and 9001. The default value is 1500.",
                                            "type": "integer"
                                        },
                                        "ownerAccount": {
                                            "description": "The ID of the AWS account that owns the virtual interface.",
                                            "type": "string"
                                        },
                                        "region": {
                                            "description": "The AWS Region where the virtual interface is located.",
                                            "type": "string"
                                        },
                                        "routeFilterPrefixes": {
                                            "description": "The routes to be advertised to the AWS network in this Region. Applies to public virtual interfaces.",
                                            "items": {
                                                "description": "Information about a route filter prefix that a customer can advertise through Border Gateway Protocol (BGP) over a public virtual interface.",
                                                "properties": {
                                                    "cidr": {
                                                        "description": "The CIDR block for the advertised route. Separate multiple routes using commas. An IPv6 CIDR must use /64 or shorter.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "virtualGatewayId": {
                                            "description": "The ID of the virtual private gateway. Applies only to private virtual interfaces.",
                                            "type": "string"
                                        },
                                        "virtualInterfaceId": {
                                            "description": "The ID of the virtual interface.",
                                            "type": "string"
                                        },
                                        "virtualInterfaceName": {
                                            "description": "The name of the virtual interface assigned by the customer network.",
                                            "type": "string"
                                        },
                                        "virtualInterfaceState": {
                                            "description": "<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>",
                                            "enum": [
                                                "confirming",
                                                "verifying",
                                                "pending",
                                                "available",
                                                "down",
                                                "deleting",
                                                "deleted",
                                                "rejected",
                                                "unknown"
                                            ],
                                            "type": "string"
                                        },
                                        "virtualInterfaceType": {
                                            "description": "The type of virtual interface. The possible values are <code>private</code> and <code>public</code>.",
                                            "type": "string"
                                        },
                                        "vlan": {
                                            "description": "The ID of the VLAN.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectConnectServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DirectConnectClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "connectionId": {
                                        "description": "The ID of the connection on which the public virtual interface is provisioned.",
                                        "type": "string"
                                    },
                                    "newPublicVirtualInterfaceAllocation": {
                                        "description": "Information about the public virtual interface.",
                                        "properties": {
                                            "addressFamily": {
                                                "description": "The address family for the BGP peer.",
                                                "enum": [
                                                    "ipv4",
                                                    "ipv6"
                                                ],
                                                "type": "string"
                                            },
                                            "amazonAddress": {
                                                "description": "The IP address assigned to the Amazon interface.",
                                                "type": "string"
                                            },
                                            "asn": {
                                                "description": "The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.",
                                                "type": "integer"
                                            },
                                            "authKey": {
                                                "description": "The authentication key for BGP configuration.",
                                                "type": "string"
                                            },
                                            "customerAddress": {
                                                "description": "The IP address assigned to the customer interface.",
                                                "type": "string"
                                            },
                                            "routeFilterPrefixes": {
                                                "description": "The routes to be advertised to the AWS network in this Region. Applies to public virtual interfaces.",
                                                "items": {
                                                    "description": "Information about a route filter prefix that a customer can advertise through Border Gateway Protocol (BGP) over a public virtual interface.",
                                                    "properties": {
                                                        "cidr": {
                                                            "description": "The CIDR block for the advertised route. Separate multiple routes using commas. An IPv6 CIDR must use /64 or shorter.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "virtualInterfaceName": {
                                                "description": "The name of the virtual interface assigned by the customer network.",
                                                "type": "string"
                                            },
                                            "vlan": {
                                                "description": "The ID of the VLAN.",
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "virtualInterfaceName",
                                            "vlan",
                                            "asn"
                                        ],
                                        "type": "object"
                                    },
                                    "ownerAccount": {
                                        "description": "The ID of the AWS account that owns the public virtual interface.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "connectionId",
                                    "ownerAccount",
                                    "newPublicVirtualInterfaceAllocation"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateConnectionWithLag": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Associates an existing connection with a link aggregation group (LAG). The connection is interrupted and re-established as a member of the LAG (connectivity to AWS is interrupted). The connection must be hosted on the same AWS Direct Connect endpoint as the LAG, and its bandwidth must match the bandwidth for the LAG. You can re-associate a connection that's currently associated with a different LAG; however, if removing the connection would cause the original LAG to fall below its setting for minimum number of operational connections, the request fails.</p> <p>Any virtual interfaces that are directly associated with the connection are automatically re-associated with the LAG. If the connection was originally associated with a different LAG, the virtual interfaces remain associated with the original LAG.</p> <p>For interconnects, any hosted connections are automatically re-associated with the LAG. If the interconnect was originally associated with a different LAG, the hosted connections remain associated with the original LAG.</p>",
                "operationId": "AssociateConnectionWithLag",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Information about an AWS Direct Connect connection.",
                                    "properties": {
                                        "awsDevice": {
                                            "description": "The Direct Connect endpoint on which the physical connection terminates.",
                                            "type": "string"
                                        },
                                        "awsDeviceV2": {
                                            "description": "The Direct Connect endpoint on which the physical connection terminates.",
                                            "type": "string"
                                        },
                                        "bandwidth": {
                                            "description": "The bandwidth of the connection.",
                                            "type": "string"
                                        },
                                        "connectionId": {
                                            "description": "The ID of the connection.",
                                            "type": "string"
                                        },
                                        "connectionName": {
                                            "description": "The name of the connection.",
                                            "type": "string"
                                        },
                                        "connectionState": {
                                            "description": "<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>",
                                            "enum": [
                                                "ordering",
                                                "requested",
                                                "pending",
                                                "available",
                                                "down",
                                                "deleting",
                                                "deleted",
                                                "rejected",
                                                "unknown"
                                            ],
                                            "type": "string"
                                        },
                                        "hasLogicalRedundancy": {
                                            "description": "Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).",
                                            "enum": [
                                                "unknown",
                                                "yes",
                                                "no"
                                            ],
                                            "type": "string"
                                        },
                                        "jumboFrameCapable": {
                                            "description": "Indicates whether jumbo frames (9001 MTU) are supported.",
                                            "type": "boolean"
                                        },
                                        "lagId": {
                                            "description": "The ID of the LAG.",
                                            "type": "string"
                                        },
                                        "loaIssueTime": {
                                            "description": "The time of the most recent call to <a>DescribeLoa</a> for this connection.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "The location of the connection.",
                                            "type": "string"
                                        },
                                        "ownerAccount": {
                                            "description": "The ID of the AWS account that owns the connection.",
                                            "type": "string"
                                        },
                                        "partnerName": {
                                            "description": "The name of the AWS Direct Connect service provider associated with the connection.",
                                            "type": "string"
                                        },
                                        "region": {
                                            "description": "The AWS Region where the connection is located.",
                                            "type": "string"
                                        },
                                        "vlan": {
                                            "description": "The ID of the VLAN.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectConnectServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DirectConnectClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "connectionId": {
                                        "description": "The ID of the connection.",
                                        "type": "string"
                                    },
                                    "lagId": {
                                        "description": "The ID of the LAG with which to associate the connection.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "connectionId",
                                    "lagId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateHostedConnection": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Associates a hosted connection and its virtual interfaces with a link aggregation group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted connection with a conflicting VLAN number or IP address, the operation fails. This action temporarily interrupts the hosted connection's connectivity to AWS as it is being migrated.</p> <note> <p>Intended for use by AWS Direct Connect partners only.</p> </note>",
                "operationId": "AssociateHostedConnection",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Information about an AWS Direct Connect connection.",
                                    "properties": {
                                        "awsDevice": {
                                            "description": "The Direct Connect endpoint on which the physical connection terminates.",
                                            "type": "string"
                                        },
                                        "awsDeviceV2": {
                                            "description": "The Direct Connect endpoint on which the physical connection terminates.",
                                            "type": "string"
                                        },
                                        "bandwidth": {
                                            "description": "The bandwidth of the connection.",
                                            "type": "string"
                                        },
                                        "connectionId": {
                                            "description": "The ID of the connection.",
                                            "type": "string"
                                        },
                                        "connectionName": {
                                            "description": "The name of the connection.",
                                            "type": "string"
                                        },
                                        "connectionState": {
                                            "description": "<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>",
                                            "enum": [
                                                "ordering",
                                                "requested",
                                                "pending",
                                                "available",
                                                "down",
                                                "deleting",
                                                "deleted",
                                                "rejected",
                                                "unknown"
                                            ],
                                            "type": "string"
                                        },
                                        "hasLogicalRedundancy": {
                                            "description": "Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).",
                                            "enum": [
                                                "unknown",
                                                "yes",
                                                "no"
                                            ],
                                            "type": "string"
                                        },
                                        "jumboFrameCapable": {
                                            "description": "Indicates whether jumbo frames (9001 MTU) are supported.",
                                            "type": "boolean"
                                        },
                                        "lagId": {
                                            "description": "The ID of the LAG.",
                                            "type": "string"
                                        },
                                        "loaIssueTime": {
                                            "description": "The time of the most recent call to <a>DescribeLoa</a> for this connection.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "The location of the connection.",
                                            "type": "string"
                                        },
                                        "ownerAccount": {
                                            "description": "The ID of the AWS account that owns the connection.",
                                            "type": "string"
                                        },
                                        "partnerName": {
                                            "description": "The name of the AWS Direct Connect service provider associated with the connection.",
                                            "type": "string"
                                        },
                                        "region": {
                                            "description": "The AWS Region where the connection is located.",
                                            "type": "string"
                                        },
                                        "vlan": {
                                            "description": "The ID of the VLAN.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DirectConnectServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DirectConnectClientException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "connectionId": {
                                        "description": "The ID of the hosted connection.",
                                        "type": "string"
                                    },
                                    "parentConnectionId": {
                                        "description": "The ID of the interconnect or the LAG.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "connectionId",
                                    "parentConnectionId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateVirtualInterface": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
[...]
